<section class="extended subhero home-section">
  <div class="row">
    <div class="columns small-centered large-10">
      <div style="text-align: left">
<% if I18n.locale.to_s %>
  <%= render I18n.locale.to_s %>
<% else %>
  <%= render :ca %>
<% end %>
      </div>

      <% unless current_user %>
        <%= link_to decidim.new_user_registration_path, class: "button--sc link subhero-cta" do %>
          <%= t("decidim.pages.home.sub_hero.register") %>
          <%= icon "chevron-right", aria_hidden: true %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>