<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
      <%= link_to t("actions.export_csv", scope: "decidim_hospitalet.survey_results.admin"), survey_results_path(format: :csv), class: 'button tiny button button--title button--title--export' %>
    </h2>
  </div>

  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th><%= t("models.survey_result.fields.scope_name", scope: "decidim_hospitalet.survey_results") %></th>
            <th><%= t("models.survey_result.fields.categories", scope: "decidim_hospitalet.survey_results") %></th>
            <th><%= t("models.survey_result.fields.created_by_admin", scope: "decidim_hospitalet.survey_results") %></th>
            <th><%= t("models.survey_result.fields.author", scope: "decidim_hospitalet.survey_results") %></th>
            <th class="actions"><%= t("actions.title", scope: "decidim_hospitalet.survey_results") %></th>
          </tr>
        </thead>
        <tbody>
          <% @survey_results.each do |survey_result| %>
            <tr data-id="<%= survey_result.id %>">
              <td>
                <%= survey_result.scope.name %>
              </td>
              <td>
                <ul>
                  <% survey_result.categories.each do |category| %>
                    <li><%= translated_attribute(category.name) %></li>
                  <%  end%>
                </ul>
              </td>
              <td>
                <%= humanize_boolean survey_result.created_by_admin? %>
              </td>
              <td>
                <%= survey_result.author_name %>
              </td>
              <td class="table-list__actions">
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @survey_results, theme: "decidim" %>
    </div>
  </div>
</div>
